<div>
  <div class="pull-left">
    <input class="form-control" type="text" ng-model="model">
  </div>
  <div class="pull-left">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" ng-click="updateFn"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
      <button type="button" class="btn btn-danger" ng-click="deleteFn"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      <button type="button" class="btn btn-success" ng-click="addFn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>
  </div>
</div>
