<div>
  <tabset class="tab-container" type="{{type}}" vertical="{{vertical}}" justified="{{justified}}">
    <tab class="tab" ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled" ng-click="go(tab)">
      <tab-heading ng-bind-html="tab.heading"></tab-heading>
    </tab>
  </tabset>
</div>
