<div ng-controller="CategoryCtrl">
<accordion close-others="oneAtATime" ng-repeat="categories in GroupSubCategories">
  <accordion-group heading="staticTitle" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">

    <!--category-->
    <accordion-heading>
      <div>
        <div class="row">
          <div class="column-lg-3 pull-left">
            <input class="form-control" type="text" ng-model="categories.name">
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <button type="button" ng-if="$last" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </accordion-heading>

    <!--kvps-->
    <div ng-repeat="kvp in categories.kvps">
      <div class="row">
        <div class="pull-left">
          <input class="form-control" type="text" ng-model="kvp.key">
        </div>
        <div class="pull-left">
          <div class="btn-group" role="group">
            <button class="btn btn-default" type="button" disabled="disabled" style="pointer-events: none">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="pull-left">
          <input class="form-control left-flat" type="text" ng-model="kvp.value">
        </div>
        <div class="pull-left">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <button type="button" ng-if="$last" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <accordion-group heading="staticTitle" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-repeat="category in categories.GroupSubCategories">
      <!--category-->
      <accordion-heading>
        <div>
          <div class="row">
            <div class="column-lg-3 pull-left">
              <input class="form-control" type="text" ng-model="category.name">
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
              <button type="button" ng-if="$last" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </accordion-heading>

      <!--kvps-->
      <div ng-repeat="kvp in category.kvps">
        <div class="row">
          <div class="pull-left">
            <input class="form-control" type="text" ng-model="kvp.key">
          </div>
          <div class="pull-left">
            <div class="btn-group" role="group">
              <button class="btn btn-default" type="button" disabled="disabled" style="pointer-events: none">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="pull-left">
            <input class="form-control left-flat" type="text" ng-model="kvp.value">
          </div>
          <div class="pull-left">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
              <button type="button" ng-if="$last" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>




    </accordion-group>
  </accordion-group>
</accordion>
</div>
