<div class="row">
  <div class="row">
  <div class="col-md-12">
    <tabs data="tabData" template-url="views/templates/tabs.html">
    </tabs>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <ui-view autoscroll></ui-view>
  </div>
  </div>
</div>
